.regis-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: #F0F3F4;
}
.regis-con2{
    content: '';
    position: absolute;
    height: 200vh;
    width: 100vw;
    top: 0px;
    right: 52vw;
    background-image: linear-gradient(-45deg, #2ECC71 30%, black 100%);
    transform: translateY(-50%);
    border-radius: 50%;
    overflow-y: hidden;
    /* box-shadow: 0 0 1px #fff,
    0 0 4px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 52px #0fa,
    0 0 25px #0fa; */
}
.regis-form{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.regis-center{
    position: absolute;
    right: 15vw;
    bottom: 30vh;
}
.regis-in{
    width: 280px;
    height: 40px;
    border-radius: 18px;
    padding: 12px;
    background: #D0D3D4;
    font-weight: 700;
    color: black;
}
.regis-icon{
    width: 250px;
    height: 18px;
    border: none;
    font-weight: 700;
    background-color: transparent;
}
.regis-icon:focus{
    outline: none;
}
.regis-head{
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}
.regis-submit{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #2ECC71;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
.regis-login{
    position: absolute;
    top: 20vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #17202A;
}
.regis-btn-login{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #17202A;
    border: none;
    font-weight: 700;
    color: #2ECC71;
}
.sendMail-sending{
    height: 35px;
    width: 115px;
    border-radius: 10px;
    background-color: #0fa;
    color: black;
    position: absolute;
    top: 14px;
    right: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width : 888px){
    .login-con2{
        content: '';
        position: absolute;
        height: 200vh;
        width: 130vw;
        top: 0px;
        right: 40vw;
        background-image: linear-gradient(-45deg, #2ECC71 30%, black 100%);
        transform: translateY(-60%);
        border-radius: 50%;
    }
}

@media screen and (max-width:785px) {
    .regis-con2{
        content: '';
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0px;
        right: 25vw;
        background-image: linear-gradient(-45deg, #2ECC71 30%, black 100%);
        transform: translateY(-60%);
        border-radius: 50%;
    }
    .regis-center{
        position: absolute;
        right: 15vw;
        bottom: 10vh;
    }
    .regis-login{
        width: 50vw;
        position: absolute;
        top: 5vh;
        left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        color: #17202A;
    }
    .sendMail-sending{
        height: 35px;
        width: 115px;
        border-radius: 10px;
        background-color: #0fa;
        color: black;
        position: absolute;
        top: 14px;
        right: 42vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width : 650px) {
    .regis-con2{
        content: '';
        position: absolute;
        height: 120vh;
        width: 150vw;
        top: 0px;
        right: 15vw;
        background-image: linear-gradient(-45deg, #2ECC71 30%, black 100%);
        transform: translateY(-60%);
        border-radius: 50%;
    }
    .regis-head{
        margin-bottom: 0px;
        font-size: 20px;
        letter-spacing: 2px;
    }
    .sendMail-sending{
        height: 35px;
        width: 115px;
        border-radius: 10px;
        background-color: #0fa;
        color: black;
        position: absolute;
        top: 14px;
        right: 39vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 480px){
    .regis-con2{
        content: '';
        position: absolute;
        height: 90vh;
        width: 239vw;
        top: 0px;
        right: 0vw;
        background-image: linear-gradient(-45deg, #2ECC71 30%, black 100%);
        transform: translateY(-50%);
        border-radius: 50%;
    }
    .regis-center{
        position: absolute;
        right: 15vw;
        bottom: 10vh;
    }
    .regis-login{
        width: 80vw;
        position: absolute;
        top: 5vh;
        left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        color: #17202A;
    }
    .regis-form{
        display: flex;
        flex-direction: column;
        height: 40vh;
        justify-content: center;
        align-items: center;
        width: 70vw;
    }
    .regis-login h1{
        font-size: 25px;
        font-weight: bold;
    }
    .regis-login p{
        font-size: 16px;
    }
    .regis-con2-p{
        position: relative;
        left: -13vw;
    }
    .regis-btn-login{
        position: relative;
        left: -4vw;
    }
    .regis-form-link{
        font-size: 14px;
    }
    .sendMail-sending{
        height: 35px;
        width: 115px;
        border-radius: 10px;
        background-color: #0fa;
        color: black;
        position: absolute;
        top: 14px;
        right: 34vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}