.regis-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: #F0F3F4;
}
.regis-con2{
    content: '';
    position: absolute;
    height: 1286px;
    width: 1500px;
    top: 0px;
    right: 700px;
    background-image: linear-gradient(-45deg, #20dbc2 0%, #145A32 100%);
    transform: translateY(-50%);
    border-radius: 50%;
    /* box-shadow: 0 0 1px #fff,
    0 0 4px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 52px #0fa,
    0 0 25px #0fa; */
}
.regis-form{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.regis-center{
    position: absolute;
    right: 15vw;
    bottom: 30vh;
}
.regis-in{
    width: 280px;
    height: 40px;
    border-radius: 18px;
    padding: 12px;
    background: #D0D3D4;
    font-weight: 700;
}
.regis-in:focus{
    outline: none;
    border: 3px solid #145A32;
    box-shadow: 5px 5px 15px #145A32;
}
.regis-head{
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}
.regis-submit{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #20dbc2;
    border: none;
    font-weight: 700;
}
.regis-login{
    position: absolute;
    top: 20vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #17202A;
}
.regis-btn-login{
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #17202A;
    border: none;
    font-weight: 700;
    color: #145A32;
}