.mails-body{
    width: 75vw;
}
.mails-table-header{
    display: flex;
    text-align: left;
}
.mails-body-sec{
    height: 79vh;
    overflow: scroll;
}
.mails-mail{
    width: 99%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040404;
    border-radius: 10px;
    margin: 8px 5px;
    color: #ecf0f1;
    padding: 0px 10px;
    /* border: 2px solid #67cb1b; */
    border: 2px solid #2ECC71;
}
.mails-mail:hover{
    transform: scale(1.01);
}
.mails-table-sn{
    width: 4vw;
    padding-top: 10px;
}
.mails-table-to{
    width: 230px;
    font-size: 14px;
    /* padding-top: 10px; */
}
.mails-table-subject{
    width: 63vw;
    font-size: 14px;
    text-wrap: nowrap;
    /* padding-top: 10px; */
    overflow: hidden;
}
.mails-table-action{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 4px 0px;
}
.mails-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    cursor: pointer;
}
.mails-importBtn{
    padding: 7px 10px;
    border: none;
    background-color: #82E0AA;
    border-radius: 10px;
    color: #242424;
    font-weight: 600;
    font-size: 11px;
    cursor: pointer;
}

.mails-head-logo{
    font-size: 25px;
    margin-bottom: 10px;
    color: #040404;
}



@media screen and (max-width:970px) {
    .mails-table-subject{
        width: 52vw;
    }
}

@media screen and (max-width:885px){
    .mails-body{
        width: 95vw;
    }
    .mails-table-subject{
        width: 35vw;
        padding-top: 3px;
    }
    .mails-table-sn, .mails-table-to{
        padding-top: 3px;
    }
    .mails-table-mail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 55px;
    }
    .mails-table-action{
        padding-left: 20px;
    }
}
@media screen and (max-width:800px){
    .mails-table-subject{
        width: 25vw;
    }
}
@media screen and (max-width:700px){
    .mails-table-subject{
        width: 15vw;
    }
}
@media screen and (max-width:480px){
    .mails-table, .mails-table-body, .mails-table-mail{
        width: 98vw;
    }
    .mails-table-subject{
        width: 15vw;
        font-size: 13px;
    }
    .mails-table-to{
        font-size: 14px;
    }
    .mails-table-mail{
        height: 60px;
        font-size: 8px;
    }
    .mails-table-action{
        padding-left: 15px;
    }
    .mails-table-sn{
        width: 6vw;
    }
    .mails-table-body{
        height: 80vh;
    }
}