.mails-table, .mails-table-body, .mails-table-header{
    width: 75vw;
    text-align: center;
}
td, tbody, thead{
    overflow-x: hidden;
}
/* .mails-table-subject{
    display: flex;
    justify-content: space-evenly;
    width: 30vw;
} */
.mails-table-action{
    text-align: center;
}